body{
    
    background-image: url("img/diego\ fondo.jpg");
    background-position: unset;
    background-size: 50%;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}
header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
} 

.cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fstatic{
    
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.gif {
    width: 55%;
    height: auto;
}

.tabla{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
}

.left{
    padding: 0px;
    
}

.right{
    padding: 0px;
}

@font-face {
    font-family: 'sansundertale';
    src: url('ComicSansMS.woff2') format('woff2'),
         url('ComicSansMS.woff') format('woff'),
         url('Comic\ Sans\ MS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font {
    font-family: 'sansundertale';
    color: rgb(123, 213, 255);
}

.container{
    display: flex;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;
}

.column{
    flex: 1;
    padding: 20px;
    border: 1px;
    margin: 10px;
}

.columnt{
    flex: 1;
    padding: 20px;
    border: 1px solid black;
    margin: 10px;
}